:root{
  --nw-green:#27AE60; 
  --nw-text:#1f2937; 
  --nw-border:#e5e7eb;
}

/* 업로드된 이미지 자체 크기 제한 */
.uploaded-image {
  width: 150px;      /* 정확하게 너비 지정 */
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

/* 감싸는 카드 영역도 같이 줄이기 */
.image-container {
  max-width: 100px;
}


.camera-btn {
  background-color: var(--nw-green);
  border: none;
  padding: 0.5rem;
  height: 38px;   
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
  color: white;
}

.camera-btn:hover {
  background-color: #1e8c4a;
}

