:root{
  --nw-green:#27AE60; 
  --nw-text:#1f2937; 
  --nw-border:#ffffff;
}

.uploaded-image {
  width: 150px;     
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}


.image-container {
  max-width: 100px;

}

.camera-btn {
  background-color: var(--nw-border);
  border: none;
  padding: 0.5rem;
  height: 38px;   
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.camera-btn:hover {
  background-color: #edebeb;
}


.accordion-item:last-child {
  margin-bottom: 1rem;
}