<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'app:index' %}">Home</a>
          </li>
          <li class="nav-item">
              {% comment %} <a class="nav-link" href="#">rag_chatbot</a> {% endcomment %}
              <a class="nav-link" aria-current="page" href="{% url 'app:rag_chatbot' %}">rag_chatbot</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'app:ocr_llm' %}">ocr_llm</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'uauth:login' %}">로그인</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'uauth:signup' %}">회원가입</a>
            {% comment %} <a class="nav-link">회원가입</a> {% endcomment %}
          </li>
        </ul>
      </div>
  </div>
</nav>