{# main 페이지 #}

{% extends "../layout/base.html" %}
{% load static %}

{% block style %}
<style>
    .main-box {
    background: linear-gradient(135deg, #deffc8ff 0%, #e0f7fa 100%);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    height: 50vh;
}
</style>
{% endblock %}


{% block content %}
<div class="main-box">
    <div class="d-flex flex-column justify-content-center align-items-center h-100 text-center">
        {% comment %} <h1 class="display-4 fw-bold">NutriWise</h1> {% endcomment %}
        <p class="mt-3 fs-5">
            뉴트리아는 식품의약품안전처 건강기능식품정보 및 웹 기반 실시간 검색을 활용하여, <br>
            사용자의 연령, 성별, 건강 관심사에 따라 맞춤형 영양제를 추천하는 RAG + LLM 기반 AI 챗봇 및 추천 시스템입니다.
        </p>
        <a href="{% url 'app:rag_chatbot' %}" class="btn btn-light mt-4 px-4 py-2 fs-5">
            Start Chatbot
        </a>
    </div>
</div>
{% endblock %}